@{
    ViewData["Title"] = "Cart";
    Layout = LayoutPage.ShopLayout;
}




<!-- breadcrumb_section - start
            ================================================== -->
<div class="breadcrumb_section">
    <div class="container">
        <ul class="breadcrumb_nav ul_li">
            <li><a href="index.html">Home</a></li>
            <li>Cart</li>
        </ul>
    </div>
</div>
<!-- breadcrumb_section - end
================================================== -->

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center mt-4">Shopping Cart</h2>
        </div>
    </div>
</div>

<!-- cart_section - start
================================================== -->
<section class="cart_section section_space pt-5">
    <div class="container">
        <div class="cart-component">
            <vc:cart></vc:cart>
        </div>
    </div>
</section>

<!-- cart_section - end
================================================== -->
