@model EditPasswordDto


@{
    ViewData["Title"] = "Password Update";
    Layout = LayoutPage.ShopLayout;
    var customerReviews = ViewBag.CustomerReviews as List<ProductReviewDto>;
    GeneralConfigurationDto conGen = JsonSerializer.Deserialize<GeneralConfigurationDto>(K["GeneralConfiguration"]);
}

@section Styles{
    <style>
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="tel"], .checkout-section .nice-select,
        textarea, .text-area {
            width: 100%;
            border-radius: 0px;
            border: none;
            min-height: 50px;
            padding: .4rem 1rem;
            background: #F5F5F7;
        }
    </style>
}

    <!-- customer review - start ================================================== -->
    <section class="account_section section_space">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3">
                    <partial name="_CustomerAccountTab" />
                </div>

                <div class="col col-lg-9">
                    <div class="account_content_area">
                        <h3>Password Update</h3>
                        <ul class="content_layout ul_li_block">
                            <li>
                                <h4><strong>Update Your Password</strong></h4>
                            </li>
                            <li>
                                <div>
                                    <form asp-controller="My" asp-action="Password" method="post">
                                        <div class="row mb-3">
                                            <div class="col-md-6 ">
                                                <label>Current Password</label>
                                                <input class="form-control" type="password" autocomplete="new-password" asp-for="OldPassword">
                                                <span asp-validation-for="OldPassword"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6 ">
                                                <label>New Password</label>
                                                <input class="form-control" type="password" autocomplete="new-password" asp-for="NewPassword">
                                                <span asp-validation-for="NewPassword"></span>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6 ">
                                                <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                                <input class="form-control" type="password" autocomplete="new-password" asp-for="ConfirmNewPassword">
                                                <span asp-validation-for="ConfirmNewPassword"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <button type="submit" class="btn btn-secondary">Update</button>
                                        </div>

                                        <div>
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- customer review - end ================================================== -->
    
@section Scripts{
    <script src="~/others/js/customer-account.js"></script>
}
