@*<ul class="nav nav-tabs" id="appconfig-tab">
    <li class="nav-item">
    <a class="nav-link" asp-action="Index">General</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" asp-action="Shop">Shop</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" asp-action="Social">Social</a>
    </li>
    </ul>*@


<div class="nav btn-group flex-wrap" id="appconfig-tab">
    <a class="nav-link btn btn-soft-primary mb-1" asp-action="Index">General</a>
    <a class="nav-link btn btn-soft-primary mb-1" asp-action="Shop">Shop</a>
    <a class="nav-link btn btn-soft-primary mb-1" asp-action="Social">Social</a>
    <a class="nav-link btn btn-soft-primary mb-1" asp-action="BasicSeo">Basic SEO</a>
</div>
